@use '../util' as *;
@use '../globals/colors.scss';

main{
  margin-top: -44px;
  @include breakpoint(medium){
    margin-top: -106px;
  }
}

.header {

  background-color: var(--header-background);
  margin-bottom: 0px;
  padding-top: rem(36);
  padding-bottom: rem(88);
  border-radius: 0 0 0.9rem 0.9rem;
  //medium = min-width:640px;
  @include breakpoint(medium) {
    border-radius: 0 0 1.5rem 1.5rem;
    padding-bottom: rem(152);
  }
    
  &__container{
    display: flex;
    flex-direction: column;
    padding: 0 rem(25);
    max-width: rem(1110);
    margin: 0 auto;

    @include breakpoint(medium){
      justify-content: space-between;
    align-items: center;
    flex-direction: row;
    }

    //large = min-width:1150px;
    @include breakpoint(large){
      padding: 0;

    }
  }

  &__title {
    @include breakpoint-down(small) {
      padding-bottom: 1.2rem;
      border-bottom: 1px solid hsl(228, 28%, 20%);
    }
  }

  &__subtitle {
    font-size: rem(14);
    font-weight: 700;
    color: var(--text-color-subheading);
  }

  &__toggle {
    
  }
}
