@use '../util' as *;

*
{
  -webkit-tap-highlight-color: transparent; //For Android chrome browser checkbox tapping blue effect
}

*:focus
{
    outline: none;
}
.toggle {
  border: none;
  margin: 0;
  padding: 0;

  @include breakpoint-down(small) {
    margin: 18px 0 0 0;
    border: none;
    display: flex;
    justify-content: space-between;
  }

  label {
    font-size: rem(14);
    color: var(--toggle-text);
    font-weight: 700;
    &[for="dark"] {
      margin-right: 0.5rem;
      cursor: pointer;
      align-self: center;
    }
  }

  &__wrapper {
    font-size: 12px;
    display: inline-block;
    vertical-align: middle;
    width: rem(48);
    height: rem(24);
    border-radius: rem(24); /* = height */
    position: relative;
  }

  input[type="checkbox"] {
    display: inline-block;
    margin: 0;
    width: rem(48);
    height: rem(24);
    opacity: 0;
    position: relative;
    z-index: 2;
    cursor: pointer;
  }

  &__background {
    display: block;
    height: 100%;
    border-radius: rem(12);
    background: var(--toggle-background);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 0;
    transition: all 0.1s ease-out;
  }

  &__button {
    background-color: var(--toggle-button);
    display: block;
    position: absolute;
    top: rem(3);
    left: rem(4);
    right: rem(26);
    bottom:rem(3);
    border-radius: 50%;
    transition: all 0.15s ease-out;
    z-index: 1;
  }

  #dark:checked ~ .toggle__button {
    left: rem(26);
    right: rem(4);
  }
}
